<HTML>
  <BODY>
    <H1>Create User</H1>
    <form action="/createUser" method="post">
      User ID:<input type="text" name="userID"><br>
      Password:<input type="password" name="pw"><br>
      Confirm Password:<input type="password" name="pw2"><br>
      <input type="submit" name="Create">
    </form>
    <a href="/login">Login</a>
  </BODY>
</HTML>

