<HTML>
  <BODY>
    <H1>HomePage</H1>
    <p><a href="/createRestaurant">Create Restaurant</a></p>
    <p><a href="/sreachRestaurant">Sreach Restaurant</a></p>
    <p><a href="/logout">Logout</a></p>
  </BODY>
</HTML>
