<HTML>
  <BODY>
    <H1>Login</H1>
    <%= c %>
    <FORM action="/login" method="post">
        User ID:<input type="text" name="userID"><br>
        Password:<input type="password" name="pw"><br>
        <input type="submit" value="Login">
    </FORM>
    <form action="/createUser" method="get">
        <input type="submit" value="Create User">
    </form>
  </BODY>
</HTML>

